html {
    font-family: Arial, sans-serif;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    background-color: #f4f4f9;
}

header {
    background-color: #034078;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header h3 {
    margin: 5px 0 0;
    font-size: 1rem;
    font-weight: normal;
}

h1, h3 {
    text-align: center;
}

.button {
    display: inline-block;
    background-color: #b30000; /* red color */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

.button2 {
    background-color: #364cf4; /* blue color */
}

.content {
    padding: 20px;
}

.card-grid {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* General card styling */
.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1; /* Allow cards to grow equally */
    text-align: center;
}

/* Row styling */
.row {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: space-between; /* Add space between cards */
    margin-bottom: 16px;
}

/* Ensure cards are responsive */
.card canvas {
    max-width: 100%;
    height: auto;
}

.card p {
    margin: 10px 0;
    font-size: 1rem;
}

.card strong {
    font-size: 1.2rem;
}

.card.full-width {
    flex: 1 1 100%; /* Make the card take the full width of the row */
    max-width: 800px; /* Optional: Limit the maximum width */
    margin: 0 auto; /* Center the card horizontally */
}

.button-green {
    background-color: #28a745; /* Green for enabling */
    color: white;
}

.button-red {
    background-color: #dc3545; /* Red for stopping */
    color: white;
}